<div class="container">

    <div class="row">

        <div class="col-lg-12">
           
               <img style="height: 250px;" src='./images/links.jpg' />
          
          
        </div>
 
    </div>

    <div class="row">

        <div class="col-lg-8">

            <div class="panel-group home" id="accordion">

               
                <div class="panel panel-default home">
                 <a style="cursor: pointer!important;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               data-target="#collapseOne">
                    <div class="panel-heading">
                        <h3 style="font-size: 25px !important;" class="panel-title">
                                General information on Urology
                        </h3>
                    </div>
                     </a>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body home">
                          <a href="www.urologychannel.com">urologychannel.com</a> </br>
                          <a href="www.baus.org.uk/patients">British Association of Urological Surgeons</a>
 
                        </div>
                    </div>
                </div>


 <div class="panel panel-default home">
                 <a style="cursor: pointer!important;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               data-target="#collapseTwo">
                    <div class="panel-heading">
                        <h3 style="font-size: 25px !important;" class="panel-title">
                               Prostate diseases and Urology cancer
                        </h3>
                    </div>
                     </a>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body home">
                          <a href="www.prostateuk.org "> www.prostateuk.org </a> </br>
                          <a href="www.prostate-cancer.org.uk">Prostate Cancer Charity</a></br>
                           <a href="www.prostatecanerresearchfoundation.org">www.prostatecanerresearchfoundation.org</a></br>
                             <a href="http://www.urolift.co.uk/">www.urolift.co.uk</a></br>
                              <a href="http://www.cancerresearchuk.org/about-cancer/type/prostate-cancer/">www.cancerresearchuk.org</a></br>
                               <a href="http://www.macmillan.org.uk/Home.aspx">www.macmillan.org.uk</a></br>
                        </div>
                    </div>
                </div>



 <div class="panel panel-default home">
                 <a style="cursor: pointer!important;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               data-target="#collapse3">
                    <div class="panel-heading">
                        <h3 style="font-size: 25px !important;" class="panel-title">
                              Bladder problems
                        </h3>
                    </div>
                     </a>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body home">
                           <a href="www.cobfoundation.org">The Cystitis and Overactive Bladder Foundation</a></br>
                             
                        </div>
                    </div>
                </div>



                <div class="panel panel-default home">
                 <a style="cursor: pointer!important;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               data-target="#collapse4">
                    <div class="panel-heading">
                        <h3 style="font-size: 25px !important;" class="panel-title">
                              Sexual problems
                        </h3>
                    </div>
                     </a>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body home">
                           <a href="www.sda.uk.n">The Sexual Advice Association</a></br>
                             
                        </div>
                    </div>
                </div>

                  <div class="panel panel-default home">
                 <a style="cursor: pointer!important;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               data-target="#collapse5">
                    <div class="panel-heading">
                        <h3 style="font-size: 25px !important;" class="panel-title">
                              Hospitals
                        </h3>
                    </div>
                     </a>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body home">
   
                           <a href="http://www.northamptongeneral.nhs.uk/">Northampton General Hospital NHS Trust</a></br>
                            <a href="http://www.bmihealthcare.co.uk/threeshires">BMI Three Shires Hospital</a></br>
                             <a href="https://www.bmihealthcare.co.uk/hospitals/bmi-the-manor-hospital">BMI The Manor Hospital</a></br>
                             
                        </div>
                    </div>
                </div>


<div class="panel panel-default home">
                 <a style="cursor: pointer!important;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               data-target="#collapse6">
                    <div class="panel-heading">
                        <h3 style="font-size: 25px !important;" class="panel-title">
                             Private insurance
                        </h3>
                    </div>
                     </a>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body home">
                           <a href="http://finder.bupa.co.uk/">http://finder.bupa.co.uk/</a></br>
                             
                        </div>
                    </div>
                </div>

                
            </div>

        </div>

   <div class="col-lg-4">


<div id="myCarouselDidUKnow" style="padding-left: 0.5%;padding-right: 0% ;margin-bottom: 5px;border:1px solid #ddd;" class="carousel slide ">
    <!-- Indicators -->
    <ol style="color:black"class="carousel-indicators">
        <li data-target="#myCarouselDidUKnow" data-slide-to="0" class="active"></li>
        <li data-target="#myCarouselDidUKnow" data-slide-to="1"></li>
       
           
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="height:420px">
      
       
     
        <div class="item active">
            <div class="fill" ></div>
            <div  class="carousel-caption caption-bg didUKnow home">
            <img src="./images/didUKnow.jpeg" />
                <p style="color:black !important;">&nbsp;1 in 6 men will be diagnosed with prostate cancer </br></br>
     90% of men by the age of 90 will have an enlarged prostate.</p>
                
                 </div>
        </div>

        <div class="item">
            <div class="fill" ></div>
            <div  class="carousel-caption caption-bg didUKnow home">
             <img src="./images/didUKnow.jpeg" />
                <p style="color:black !important;"> &nbsp; Older adults, especially men, have hematuria more often than younger people because they are more likely to take medications that can irritate the urinary</p>
               
                 </div>
        </div>
</div>
</div>
          

    <!-- Controls -->
    <a  data-target="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a  data-target="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>
   </div>


        </div>