

  <div  style="background: rgba(104, 125, 140, 0.68)" class =" col-md-offset-1 col-md-10  book-appointment ">

<div class = "col-md-4 nag-panel">
<figure>
  <img src="./images/HemantNemade.jpg" alt="HemantNemade" width="100%"  height="228">
  <figcaption><h4 style="color:white"><address  >Dr.Hemant Nemade </br> Consultant Urological Surgeon </br> 

FRCS (Urol), MRCSEd, MS, DNB (URol)</br>

Year qualified:2009 </address> </centre></br> </h4></figcaption>
</figure>

<div class="panel panel-default ">
  <div class="panel-heading"><strong>Professional Memberships</strong></div>
  <div class="panel-body">
  <ul type="circle">
    <li><strong>Royal College of Surgeons of Edinburgh</strong></li>
    <li><strong>British Association Of Urological Surgeons</strong></li>
    <li><strong>Urological Society of India</strong></li>
    <li><strong>Medical protection Society</strong></li>
</ul>
 


 </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading"><strong>Special clinical interests</strong></div>
  <div class="panel-body">
  <ul type="circle">
    <li><strong>Urological malignancy</strong></li>
    <li><strong>Management of Urinary stones</strong></li>
    <li><strong>Minimally invasive treatment techniques</strong></li>
    <li><strong>Benign prostate diseases</strong></li>
    <li><strong>Pediatric Urology</strong></li>
</ul>
 


 </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading"><strong>Research interests</strong></div>
  <div class="panel-body">
  <ul type="square">
    <li><strong>Development of Minimally Invasive techniques in management of LUTS</strong></li>
    <li><strong>Novel biomarkers and techniques in prostate cancer diagnosis</strong></li>
   
</ul>
 


 </div>
</div>


</div>

<div class="col-md-8 nag-panel">


<div class="panel panel-default">
  <div class="panel-heading"><strong>Personal profile</strong></div>
  	<div class="panel-body">
		<p>Having qualified from University of Mumbai,India in 2000, Hemant Nemade spent significant time gaining a wide general surgical skills base leading to MS(2005)and then embarking on specialist urological training in India gaining considerable expertise. He underwent further sub specialist training in Minimally invasive, Urooncology and Paediatric Urology at Royal Marsden, King’s College Hospital and Great Ormond street Hospital in UK, obtaining the FRCS (Urol) in 2012. </p>
  
    <p>During that time he developed particular interests in benign and malignant prostate and kidney disease and in the application of newer technologies in Urology. Hemant is currently a Consultant Urologist at Frimley Park Hospital in Surrey and delivers a breadth of services for general urological conditions, including general waterworks problems, scrotal swellings and penile conditions. </p>

<p>Beyond this, he provides a regional service for stones of kidney and ureter and prostate cancer.His remit to continue and enhance the provision of minimally invasive surgical treatments to patients through the department incorporating enhanced recovery techniques.His recognised expertise in the laser treatment and Urolift for treatment of the symptomatic benign prostate disease has led to his continued involvement in cutting edge developments in this and other technologies. He takes keen interest in improving patient safety and is member of the Governance committee of the trust.</p>  

<p>Hemant has a strong research background and continues to research ways of improving prostate cancer diagnosis, including fusion guided targeted biopsies. and has presented widely in national and international meetings such as the American Urological association,European Association of Urology,British association Of urological Surgeons Société Internationale d'Urologie,Royal Society of medicine and Urological society of India.</p>

<p>Hemant has extensive experience in teaching both undergraduate and postgraduate medicine being a clinical and educational supervisor, undergraduate examiner for University College London and invited faculty on various national and international courses. </p>

<p>He has garnered several awards and prizes, including prizes for Gold Medal in Urology, National Board, India 2009 and Gold medal in General Surgery University of Mumbai,India. He was awarded the Best Surgical Teacher Prize in 2010.</p>
    
 

 </div>


   

</div>












</div>

  </div>


<!-- /.container -->
